<%= live_render(@conn, AshTableWeb.BooksLive) %>

<h3 class="text-xl mt-4">Features</h3>
<ul>
  <li>
    - Moving and resizing columns
  </li>
  <li>
    - Sorting by clicking on column headers
  </li>
  <li>
    - Editing cells
  </li>
</ul>

<h3 class="text-xl mt-4">Known issues</h3>
<ul>
  <li>
    - Resizing columns triggers sorting
  </li>
</ul>

<h3 class="text-xl mt-4">Resource</h3>
<div class="w-1/2">
  <script src="https://gist.github.com/mxgrn/9ffcc6f26110a0d3043f04d9ff70e65c.js">
  </script>
</div>
